<h2>aticles</h2>
<%= link_to "new aticle", new_aticle_path %>

<ol>
  <%@aticles.each do |aticle| %>
    <li>
      <%=link_to aticle.title, aticle_path(aticle) %>compléter: <strong> <%= aticle.completed%></strong> <%= link_to "supprimer" ,aticle_path(aticle),data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
    <% end %>
</ol>
